nav ul li{
    float: left;
}
nav li a{
    display: block;
    padding: 10px;
    color: wheat;
    text-align: center;
}
li a:hover{
    background-color: antiquewhite;
}
nav ul{
    padding: 10px;
    margin: 0px;
    list-style-type: none;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("slike/slika2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;


}
header{
    padding: 10px;
    text-align: center;
    background-color: rgba(162, 115, 13, 0.945);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-clip: content-box;
}
nav{
    background-color: rgba(162, 115, 13, 0.945);
    height: 40px;
    background-clip: content-box;
}
section{
    padding: 9px;
    background-color: blueviolet;
    height: 350px;
}
table,th,td{
    border: 4px solid  rgba(162, 115, 13, 0.945);
    border-collapse: collapse;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}
 .class{ 
  border: red;
  padding: 80px;
  background: wheat;
  background-clip: content-box;
  opacity: 0.8;
}
h2{
    color:  rgba(162, 115, 13, 0.945);
    font-style: oblique;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h3{

    color:  rgba(162, 115, 13, 0.945);
    font-style: oblique;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p{
    text-align: justify;
    padding: 20px;
}
.class2{
    font-weight: bold;
}
footer{
    padding: 10px;
    text-align: center;
    background-color:  rgba(162, 115, 13, 0.945);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-clip: content-box;
    color: wheat;
}
th, td{
    border-radius: 10px;
}
img {
    display: inline-block;
  }
h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: wheat;
}
hr{
    color:rgb(177, 107, 151)solid 2px ;
}
.float-img{
    float: right;
    margin-right: 20px;
    margin-bottom: 5px;
    border: solid black 2px;
    padding: 2px;

}
.class3{
    color: rgba(162, 115, 13, 0.945)
}